aufgabenblatt2022.pdf
autoregpraktikum.cpp
cheatsheet.synctex.gz
CMakeLists.txt
f710small.png
howtopaper.pdf
HowToRobot.pdf
main.cpp
paper.aux
paper.fdb_latexmk
paper.fls
paper.log
paper.out
paper.synctex.gz
rt3small.png
.vscode/settings.json
Beispielpfade/acht.dat
Beispielpfade/circle.dat
Beispielpfade/circlecc.dat
Beispielpfade/heart.dat
Beispielpfade/Kreis1_5mlinks.dat
Beispielpfade/Kreis1_5mrechts.dat
Beispielpfade/quadratclock.dat
Beispielpfade/quadratcounterclock.dat
Beispielpfade/shape.dat
gio_path/curves.h
gio_path/gio_path.cpp
gio_path/gio_path.h
nodes2020/lms100/CMakeLists.txt
nodes2020/lms100/package.xml
nodes2020/lms100/src/lms100_cola.cc
nodes2020/lms100/src/lms100_cola.h
nodes2020/lms100/src/scanlistener.cc
nodes2020/lms100/src/sicksensor.cc
nodes2020/volksbot/.README.swp
nodes2020/volksbot/42-usb-serial-volksbot.rules
nodes2020/volksbot/CMakeLists.txt
nodes2020/volksbot/package.xml
nodes2020/volksbot/README
nodes2020/volksbot/cmake/TargetArch.cmake
nodes2020/volksbot/include/volksbot/odometry.h
nodes2020/volksbot/launch/config/allhallwaygmapping.pgm
nodes2020/volksbot/launch/config/amcl_diff_cfg.yaml
nodes2020/volksbot/launch/config/base_local_planner_params.yaml
nodes2020/volksbot/launch/config/costmap_common_params.yaml
nodes2020/volksbot/launch/config/global_costmap_params.yaml
nodes2020/volksbot/launch/config/gmapping_cfg.yaml
nodes2020/volksbot/launch/config/local_costmap_params.yaml
nodes2020/volksbot/launch/config/map_gmapping.pgm
nodes2020/volksbot/launch/config/map_gmapping.yaml
nodes2020/volksbot/launch/config/map.pgm
nodes2020/volksbot/launch/config/map.yaml
nodes2020/volksbot/launch/config/mapfile.yaml
nodes2020/volksbot/launch/config/parameters.yaml
nodes2020/volksbot/launch/lehre/hector_mapping.launch
nodes2020/volksbot/launch/lehre/messtechnikamcl.launch
nodes2020/volksbot/launch/lehre/messtechnikgmapping.launch
nodes2020/volksbot/launch/lehre/messtechnikpraktikum.launch
nodes2020/volksbot/launch/parts/localcalibration.launch
nodes2020/volksbot/launch/parts/localjoystick.launch
nodes2020/volksbot/launch/parts/localrobot_base.launch
nodes2020/volksbot/libEposCmd/armv7hf/libEposCmd.so
nodes2020/volksbot/libEposCmd/armv7hf/libEposCmd.so.6.1.1.0
nodes2020/volksbot/libEposCmd/x86/libEposCmd.so
nodes2020/volksbot/libEposCmd/x86/libEposCmd.so.6.1.1.0
nodes2020/volksbot/libEposCmd/x86_64/libEposCmd.so
nodes2020/volksbot/libEposCmd/x86_64/libEposCmd.so.6.1.1.0
nodes2020/volksbot/msg/pose2d.msg
nodes2020/volksbot/msg/ticks.msg
nodes2020/volksbot/msg/vels.msg
nodes2020/volksbot/src/calibration.cc
nodes2020/volksbot/src/CVmc.h
nodes2020/volksbot/src/ekf_filter.cc
nodes2020/volksbot/src/ekf_filter.h
nodes2020/volksbot/src/kbcontrol.cc
nodes2020/volksbot/src/kbcontrol.h
nodes2020/volksbot/src/odometry_main.cc
nodes2020/volksbot/src/odometry.cc
nodes2020/volksbot/src/volksbot.cc
nodes2020/volksbot/src/Adapter/CComAdapter.cpp
nodes2020/volksbot/src/Adapter/CComAdapter.h
nodes2020/volksbot/src/Adapter/common.h
nodes2020/volksbot/src/Adapter/IDeviceAdapter.h
nodes2020/volksbot/src/epos2/Definitions.h
nodes2020/volksbot/src/epos2/epos2.cpp
nodes2020/volksbot/src/epos2/epos2.h
nodes2020/volksbot/src/joystick/firejet.cc
nodes2020/volksbot/src/joystick/firejet.h
nodes2020/volksbot/src/joystick/joystick.cc
nodes2020/volksbot/src/joystick/joystick.h
nodes2020/volksbot/src/joystick/jscontrol.cc
nodes2020/volksbot/src/joystick/logitechf710.cc
nodes2020/volksbot/src/joystick/logitechf710.h
nodes2020/volksbot/src/joystick/predator.cc
nodes2020/volksbot/src/joystick/predator.h
nodes2020/volksbot/src/LayerClasses/CCommunicationLayer.cpp
nodes2020/volksbot/src/LayerClasses/CCommunicationLayer.h
nodes2020/volksbot/src/LayerClasses/CMakeLists.txt
nodes2020/volksbot/src/LayerClasses/CTranslationLayer.cpp
nodes2020/volksbot/src/LayerClasses/CTranslationLayer.h
nodes2020/volksbot/src/LayerClasses/CVmc.cpp
nodes2020/volksbot/src/LayerClasses/CVmc.h
nodes2020/volksbot/src/LayerClasses/CvmcAPI.cpp
nodes2020/volksbot/src/LayerClasses/CvmcAPI.h
nodes2020/volksbot/src/StorageClasses/CMotor.cpp
nodes2020/volksbot/src/StorageClasses/CMotor.h
nodes2020/volksbot/src/StorageClasses/CStorage.cpp
nodes2020/volksbot/src/StorageClasses/CStorage.h
nodes2020/volksbot/src/SupportClasses/CChannel.cpp
nodes2020/volksbot/src/SupportClasses/CChannel.h
nodes2020/volksbot/src/SupportClasses/CData.cpp
nodes2020/volksbot/src/SupportClasses/CData.h
nodes2020/volksbot/src/SupportClasses/CError.cpp
nodes2020/volksbot/src/SupportClasses/CError.h
nodes2020/volksbot/src/SupportClasses/CMessage.cpp
nodes2020/volksbot/src/SupportClasses/CMessage.h
nodes2020/volksbot/src/SupportClasses/CMultisend.cpp
nodes2020/volksbot/src/SupportClasses/CMultisend.h
nodes2020/volksbot/src/SupportClasses/commands.h
nodes2020/volksbot/src/SupportClasses/Config.h
nodes2020/volksbot/src/SupportClasses/CRequest.cpp
nodes2020/volksbot/src/SupportClasses/CRequest.h
nodes2020/volksbot/src/SupportClasses/CSendTwo.cpp
nodes2020/volksbot/src/SupportClasses/CSendTwo.h
nodes2020/volksbot/src/SupportClasses/CTimer.cpp
nodes2020/volksbot/src/SupportClasses/CTimer.h
nodes2020/volksbot/src/SupportClasses/CTimestamp.cpp
nodes2020/volksbot/src/SupportClasses/CTimestamp.h
nodes2020/volksbot/src/SupportClasses/Enums.h
nodes2020/volksbot/srv/velocities.srv
Kinematic_Time-invariant_Control_of_a_2D_Nonholonomic_Vehicle.pdf
catkin_ws
Plots/save/GegebenePfadeAMCL/achtAMCLposAMCL.txt
Plots/save/GegebenePfadeAMCL/achtAMCLposODOM.txt
Plots/save/GegebenePfadeAMCL/quadratAMCLposAMCL.txt
Plots/save/GegebenePfadeAMCL/quadratAMCLposOdom.txt
Plots/save/GegebenePfadeOdom/achtOdomposAMCL.txt
Plots/save/GegebenePfadeOdom/achtOdomposOdom.txt
Plots/save/GegebenePfadeOdom/quadratOdomposAMCL.txt
Plots/save/GegebenePfadeOdom/quadratOdomposOdom.txt
Plots/save/Mapaufnahmepfade/mapaufnahmepfadAMCL.dat
Plots/save/Mapaufnahmepfade/mapaufnahmepfadOdom.dat
Plots/save/Simulierte Pfade/achtSimu.txt
Plots/save/Simulierte Pfade/shapeSimu.txt
Plots/save/Simulierte Pfade/quadratSimu.txt
Plots/save/Simulierte Pfade/circleSimu.txt
amcllocalisation.png
cheatsheet.pdf
cheatsheet.tex
AMCLAcht.png
odomAcht.png
REV2/paperREV2.aux
REV2/paperREV2.fdb_latexmk
REV2/paperREV2.fls
REV2/paperREV2.log
REV2/paperREV2.synctex.gz
